*{
    background-color: rgb(231, 224, 224);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

.logo{
    margin-left: 10px;
    width: 60px;
    height: 60px;
    background-color:rgb(250, 210, 210);
}
nav {
    background-color: rgb(250, 210, 210);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.lista{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}
.lista li{
    background-color: rgb(250, 210, 210);
    display: flex;
    flex-direction: row;
}

.lista li a {
    text-decoration: none;
    color: #000000;
    margin: 30px 30px 30px 30px;   
}
.cajaInicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    margin-bottom: 20px;

}
.box{
    width: 300px;
    height: 200px;
    padding-top: 30px;
    
} .box p {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 30px;
}
.box h1{
    margin: 30px 80px 0px 0px;

}
h2{
    margin: 0px 0px 20px 20px;
}
.cajaInicio2{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 400px;
}
.box2{
    width:300px ;
    height: 300px;
    background-color: white; border: #000000 1px solid;
    
}
.box2 img{
    width: 200px;
    height: 250px;
    border: #000 solid 1px;
    margin: 5px 55px 10px 50px;
}
.box2 p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.columnas{
    height: 1500px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.colum1{ 
    height: 300px ;
    display: flex;
    flex-direction: row;
    
 }
 .boxImgP{
     height: 75%;
     width: 30%;
 }
 .boxTextP{
     font-size: 35px;
     height: 20%;
     width: 50%;
     
 }
 .colum1 img {
    height: 100%;
    width: 200px;
    border: #000000 solid 1px;
}
.lineaP{
    background-color: #000;
    height: 2px;
    width: 300px; 
    margin-bottom: 10px;
}
.lineaP2{
  margin: 0px 30% 0px 500px;
    background-color: #000;
    height: 1px;
    width: 800px; 
    margin-bottom: 10px 
}
.boxFil{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.boxFil input {
    margin: 0px 30px 0px 30px;
}

.cajaCompra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}    
.boxCompra{
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
}
.boxCompra form{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
}   
.inputForm{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.boxCompra2{
    margin-bottom: 100px;
}
.boxCompra img{
    width: 200px;
    height: 100%;

}
.cajaContacto{
    display: flex;
    justify-content: space-around;
}
.boxContacto1 ul li {
    list-style: none;
    padding-bottom: 10px;
    font-size: 20px;
}
.boxComent{
    background-color: #4e4b47;
    width: 230px;
    height: 300px;
}
.boxComent label{
    background-color: #5f5e5d;
    margin-left: 5px;
    color: #e4d8d3;
}
.inputC{
    background-color: rgb(255, 255, 255);
}
textarea {
    background-color: rgb(255, 255, 255);
    height:190px;
    width: 215px;
    margin-left: 7px;
}
.btn{
    background-color: rgb(250, 210, 210);
}
.redes a {
    font-size: 50px;
    margin-left: 7px;
    color: #000;
    margin-top: 20px;
}
.linea{
    background-color: #000000;
    height: 1px;
    width: 50%;
    margin: 0% 25% 0% 25%;
}
footer{
    background-color: #070707;
    color: #e4d8d3;
    padding: 20px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.boxFoot{
    display: flex;
    flex-direction: column;
    background-color: #070707;

}
.boxFoot p{
    background-color: #070707;
}
.boxFoot a i {
    color: #e4d8d3;
    background-color: #070707;
}
.boxFoot a{
    background-color: #070707;
    font-size: 20px;
    color: #e4d8d3;
    text-decoration: none;
}

@media( max-width: 768px){

    .logo{
        margin-left: 10px;
        width: 80px;
        height: 80px;
        background-color:rgb(250, 210, 210);
    }
    nav {
        background-color: rgb(250, 210, 210);
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
    
    }
    .lista{
        
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-left: 250px;
    }
    .lista li{
        background-color: rgb(250, 210, 210);
        display: flex;
        flex-direction: row;
    }
    
    .lista li a {
        background-color: rgb(250, 210, 210);
        text-decoration: none;
        color: #000000;
        margin: 10px 10px 10px 10px;   
    }
    .cajaInicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        margin-bottom: 20px;
    
    }
    .box{
        width: 600px;
        height: 200px;
        padding-top: 25px;
        
    }
    .box5{
        height: 20px;
    }
    .Ptitulo{
        font-size: 30px;
    }
     .box p {
        margin-top: 0px;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .box h1{
        margin: 30px 80px 0px 0px;
    
    }
    h2{
        margin: 0px 0px 20px 20px;
    }
    .cajaInicio2{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: 400px;
    }
    .box2{
        width:300px ;
        height: 300px;
        background-color: white; border: #000000 1px solid;
        
    
    }
    .box2 img{
        width: 200px;
        height: 250px;
        border: #000 solid 1px;
        margin: 5px 55px 10px 50px;
    }
    .box2 p{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .columnas{
        height: 1260px;
        width: 100%;
        display: flex;
        justify-content: space-around;

        
        
    } 
    .colum1{ 
       height: 300px ;
       display: flex;
       flex-direction: row;
       
    }
    .boxImgP{
        width: 50%;
    }
    .boxTextP{
        width: 50%;
        font-size: 30px;
    }

    .colum1 img {
        height: 250px;
        width: 200px;
        border: #000000 solid 1px;
    }
    .lineaP{
        background-color: #000;
        height: 2px;
        width: 300px; 
        margin-bottom: 10px;
    }
    .lineaP2{
        margin:auto;
        background-color: #000;
        height: 1px;
        width: 800px; 
        margin-bottom: 10px 
    }
    .boxFil{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .boxFil input {
        margin: 0px 30px 0px 30px;
    }
    
    .cajaCompra{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    } 
    .boxCompra form{
        width: 46%;
        height: 350px;
        display: flex;
        flex-direction: column;
    }   
    .inputForm{
        background-color:rgb(255, 255, 255);
        border-radius: 10px;
        width: 300px;
        height: 40px;
    }
    .boxCompra{
        width: 100%;
        height: 300px;
        margin: 20px 50% 30px 30%;
    }
    .boxCompra2{
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
    }
    .boxCompra2 img{
        width: 250px;
        margin-left: 30px;
    }
    .boxCompraT{
        font-size: 30px;
        margin-left: 20px;
    }
    .boxCompra img{
        width: 200px;
        height: 100%;
    
    }
    .boxContacto1 ul li {
        list-style: none;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .cajaContacto{
        display: flex;
        flex-direction: column;

    }
    .boxContacto1{
        display: flex;
        justify-content: space-around;

    }
    .boxContacto{
        margin: 30px auto;
    }

    .boxComent{
        background-color: #4e4b47;
        width: 350px;
        height: 400px;
    }
    .boxComent label{
        background-color: #5f5e5d;
        margin-left: 5px;
        color: #e4d8d3;
    }
    .inputC{
        background-color: rgb(255, 255, 255);
        width: 300px;
        height: 30px;
        border-radius: 5px;
        margin-left: 7px;
    }
    textarea {
        background-color: rgb(255, 255, 255);
        height:300px;
        width: 300px;
        border-radius: 5px;
    }
    .btn{
        width: 70px;
        background-color:rgb(250, 210, 210);
    }
    .redes a {
        font-size: 50px;
        margin-left: 7px;
        color: #000;
        margin-top: 20px;
    }
    .linea{
        background-color: #000000;
        height: 1px;
        width: 50%;
        margin: 0% 25% 0% 25%;
    }
    footer{
        background-color: #070707;
        color: #e4d8d3;
        padding: 20px 0px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .boxFoot{
        display: flex;
        flex-direction: column;
        background-color: #070707;
    
    }
    .boxFoot p{
        background-color: #070707;
    }
    .boxFoot a i {
        color: #e4d8d3;
        background-color: #070707;
    }
    .boxFoot a{
        background-color: #070707;
        font-size: 20px;
        color: #e4d8d3;
        text-decoration: none;
    } 
    
    @media(max-width: 576px ){
        .logo{
            margin-left: 10px;
            width: 80px;
            height: 80px;
            background-color:rgb(250, 210, 210);
        }
        nav {
            background-color: rgb(250, 210, 210);
            height: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
        
        }
        .lista{
            
            list-style: none;
            display: flex;
            flex-direction: row;
            margin-left: 100px;
        }
        .lista li{
            background-color: rgb(250, 210, 210);
            display: flex;
            flex-direction: row;
        }
        
        .lista li a {
            background-color: rgb(250, 210, 210);
            text-decoration: none;
            color: #000000;
            margin: 10px 10px 10px 10px;   
        }
        .cajaInicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            margin-bottom: 20px;
        
        }
        .box{
            width: 600px;
            height: 200px;
            padding-top: 25px;
            display: flex;
            justify-content: center;
            
        }
        .box5{
            height: 10px;
        }
        .Ptitulo{
            font-size: 60px;
        }
         .box p {
            margin-top: 0px;
            font-size: 25px;
            margin-bottom: 30px;
        }
        .box h1{
            margin: 30px 80px 0px 0px;
        
        }
        h2{
            margin: 0px 0px 20px 20px;
        }
        .cajaInicio2{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
            height: 400px;
        }
        .box2{
            width:300px ;
            height: 300px;
            background-color: white; border: #000000 1px solid;
            
        
        }
        .box2 img{
            width: 200px;
            height: 250px;
            border: #000 solid 1px;
            margin: 5px 55px 10px 50px;
        }
        .box2 p{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .columnas{
            height: 1260px;
            width: 100%;
            display: flex;
            justify-content: space-around;
    
            
            
        } 
        .colum1{ 
           height: 300px ;
           display: flex;
           flex-direction: row;
           
        }
        .boxImgP{
            width: 50%;
        }
        .boxTextP{
            width: 50%;
            font-size: 30px;
        }
    
        .colum1 img {
            height: 250px;
            width: 200px;
            border: #000000 solid 1px;
        }
        .lineaP{
            background-color: #000;
            height: 2px;
            width: 300px; 
            margin-bottom: 10px;
        }
        .lineaP2{
            margin:auto;
            background-color: #000;
            height: 1px;
            width: 800px; 
            margin-bottom: 10px 
        }
        .boxFil{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
        .boxFil input {
            margin: 0px 30px 0px 30px;
        }
        
        .cajaCompra{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
        } 
        .boxCompra form{
            width: 100%;
            height: 350px;
            display: flex;
            flex-direction: column;
        }   
        .inputForm{
            border-radius: 10px;
            height: 150PX;
            width: 100%;
        }
        .boxCompra{
            width: 100%;
            height: 400px;
            margin: 20px 0% 0px 0%;
        }
        .boxCompra2{
            margin-bottom: 100px;
            display: flex;
            flex-direction: row;
        }
        .boxCompra2 img{
            width: 250px;
            margin-left: 30px;
        }
        .boxCompraT{
            font-size: 30px;
            margin-left: 20px;
        }
        .boxCompra img{
            width: 200px;
            height: 100%;
        
        }
        .boxContacto1 ul li {
            list-style: none;
            padding-bottom: 10px;
            font-size: 25px;
        }
        .cajaContacto{
            width: 100%;
            display: flex;
            flex-direction: column;
    
        }
        .boxContacto1{
            width: 100%;
            display: flex;
            justify-content: space-around;
    
        }
        .boxContacto{
            width: 100%;
            margin: 10px auto;
            display: flex;
            justify-content: center;
        }
    
        .boxComent{
            background-color: #4e4b47;
            width: 300px;
            height: 350px;
        }
        .boxComent label{
            background-color: #5f5e5d;
            margin-left: 5px;
            color: #e4d8d3;
        }
        .inputC{
            background-color: rgb(255, 255, 255);
            width: 250px;
            height: 30px;
            border-radius: 5px;
            margin-left: 7px;
        }
        textarea {
            background-color: rgb(255, 255, 255);
            height:250px;
            width: 250px;
            border-radius: 5px;
        }
        .btn{
            width: 70px;
            background-color:rgb(250, 210, 210);
        }
        .redes a {
            font-size: 50px;
            margin-left: 7px;
            color: #000;
            margin-top: 20px;
        }
        .linea{
            background-color: #000000;
            height: 1px;
            width: 50%;
            margin: 0% 25% 0% 25%;
        }
        footer{
            background-color: #070707;
            color: #e4d8d3;
            padding: 20px 0px 10px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
        }
        .boxFoot{
            display: flex;
            flex-direction: column;
            background-color: #070707;
        
        }
        .boxFoot p{
            background-color: #070707;
        }
        .boxFoot a i {
            color: #e4d8d3;
            background-color: #070707;
        }
        .boxFoot a{
            background-color: #070707;
            font-size: 20px;
            color: #e4d8d3;
            text-decoration: none;
        } 
    }